{
  "git_path": "{{ if eq .chezmoi.os "darwin" }}{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew/bin/git{{ else }}/usr/local/bin/git{{ end }}{{ else }}/home/linuxbrew/.linuxbrew/bin/git{{ end }}",
  "quiet": true,
  "disable_auto_updates": true,
  "disable_version_checks": true,
  "prompt_storage": "local"
}
