[user]
    name = {{ .name }}
    email = {{ .email }}
[init]
    defaultBranch = main
[pull]
    rebase = true
[push]
    default = current
    autoSetupRemote = true
[rerere]
    enabled = true
[diff]
    colorMoved = zebra
[core]
    excludesfile = ~/.gitignore_global
{{- if lookPath "delta" }}
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
{{- end }}
[include]
    path = ~/.gitconfig.local
[alias]
    s = status
    amend = commit --amend --no-edit
    co = checkout
    b = branch
    ci = commit
